.image-stack {
    display: grid;
    position: relative;
    grid-template-columns: repeat(12, 1fr);
}

.image-stack__item--bottom {
    grid-column: 1 / span 4;
    grid-row: 1;
    z-index: 1;
}

.label-bottom {
    position: absolute;
    left: 24%;
    top: 1%;
    width: 10%;
    height: 12%;
    z-index: 5;
    color: black;
    font-size: min(1.5vw, 1em);
}

.image-stack__item--center {
    grid-row: 1;
    grid-column: 3 / span 4;
    padding-top: 30%;
    z-index: 2;
}

.label-center {
    position: absolute;
    left: 40%;
    top: 18%;
    width: 10%;
    height: 12%;
    z-index: 5;
    color: black;
    font-size: min(1.5vw, 1em);
}

.image-stack__item--top {
    grid-row: 1;
    grid-column: 6 / span 7;
    z-index: 3;
    padding-top: 30%;
}

.label-top {
    position: absolute;
    left: 85%;
    top: 31%;
    width: 15%;
    height: 12%;
    z-index: 5;
    color: black;
    font-size: min(1.5vw, 1em);
}

.image-hidden {
    transform: scale(0);
}

img {
    width: 100%;
    display: block;
}

.area_img1 {
    position: absolute;
    left: 14%;
    top: 23%;
    width: 5%;
    height: 13%;
    border: 2px solid red;
    z-index: 4;
}

.area_img2 {
    position: absolute;
    left: 26.5%;
    top: 82%;
    width: 10%;
    height: 12%;
    border: 2px solid red;
    z-index: 5;
}

#area1:hover,
#area2:hover {
    opacity: 0.8;
    border: 2px solid black;
}